@using System.Web.Http
@using Api.Areas.HelpPage.Models
@model HelpPageApiModel
@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}
<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div id="main-inner">
    @Html.ActionLink("Back to documentation", "Index", null, new { @class = "back-a" })
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayForModel()
    </section>
</div>