<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div id="main-inner" class="error-page">
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h2>Have a hug before you return @Html.ActionLink("Home", "Index").</h2>
        <img id="hug-image" src="~/Content/Images/freehugs.png" />
    </div>
</body>
</html>